@import "tailwindcss";
/* footer wid class */
.wid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* optional spacing */
}

.wid > div {
  width: 100%; /* default: mobile pe full width */
}


/* Tablet screens (≥640px) */
@media (min-width: 640px) {
  .wid > div {
    width: 50%; /* 2 columns */
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .wid > div {
    width: 33.33%; /* 3 columns */
  }
}

/* Large screens (≥1024px) */
@media (min-width: 1024px) {
  .wid > div {
    width: 25%; /* 4 columns */
  }
}
